In [11]:
import pandas as pd 

student_data_to_load = 'Resources/students_complete.csv'

student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head()

student_names = student_data_df['student_name']

student_names

students_to_fix = []
prefixes = []
suffixes = []
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
#ex = 'Dr. Linda Santiago'

for name in student_names: 
   if len (name.split()) >= 3:
    students_to_fix.append(name)

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')

    
#combine the data into a single dataset



#ex.replace('Dr. ', '')

C:\Users\Camer\AppData\Local\Temp\ipykernel_26240\3346358026.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')

In [12]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)
 # A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [13]:
import pandas as pd

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [14]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [36]:
import pandas as pd

# Files to load 
school_data_to_load = 'Resources/schools_complete.csv'
student_data_to_load = 'Resources/students_complete.csv'

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

#school_data_df
#student_data_df
# Merging the two CSV files together (using a new variable name). At least 1 header has to be the same name in each CSV to merge. 
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ['school_name' , 'school_name'])
school_data_complete_df.head()

#Counting the number of students in the new dataframe 
student_count = school_data_complete_df['Student ID'].count()
# student_count

# #counting the number of 'Studnet ID' in the new merged file.
# school_data_complete_df["Student ID"].count()

# # Getting the total number of schools.
school_count = school_data_df['school_name'].count()
# school_count

# #if we want to get the count of the school names from the school_data_complete we have to first get the unique() identifiers.
# #This out puts an 'ndarray' or 'n-dimensional array' of all unique values for the given column name.
# school_count_2 = school_data_complete_df = school_data_complete_df['school_name'].unique()
# # school_count_2

total_budget = school_data_df['budget'].sum()
# # total_budget

average_reading_score = school_data_complete_df['reading_score'].mean()

average_math_score = school_data_complete_df['math_score'].mean()

passing_math = school_data_complete_df['math_score'] >= 70

passing_reading = school_data_complete_df['reading_score'] >= 70

#Passing out school data complete to a new Data Frame to get just the students who passed math 
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_math.head()

passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
passing_reading

passing_math_count = passing_math['student_name'].count()
passing_math_count

passing_reading_count = passing_reading['student_name'].count()
passing_reading_count

percent_pass_math = passing_math_count / student_count * 100
percent_pass_math

passing_reading_percentage = passing_reading_count / student_count * 100
passing_reading_percentage

# Calculating overall passing percent for both math and reading and passing it to a new Data Frame 
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)] 
passing_math_reading.head()

overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": percent_pass_math,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

# The "Average Reading Score" column will be formatted to one decimal place.
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map('{:.1f}'.format)
district_summary_df['Average Reading Score']
#The "Average Math Score" column will be formatted to one decimal place.
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map('{:.1f}'.format)
district_summary_df['Average Math Score']

#The "% Passing Reading" column will be formatted to the nearest whole number percentage.
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map('{:.0f}'.format)
district_summary_df['% Passing Reading']

# The "% Passing Math" column will be formatted to the nearest whole number percentage
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map('{:.0f}'.format)
district_summary_df['% Passing Math']

#The "% Overall Passing" column will be formatted to the nearest whole number percentage.
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df["% Overall Passing"]

district_summary_df
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

# def passing_math_percent(passing_math_count , student_count):
#     return passing_math_count / student_count * 100

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [ ]:
# The Pandas map() Function 
# NOTE: The map() function is used for substituting each value in a Series with another value. Where the new value is generated from a function, a dictionary, or a Series.

import pandas as pd 

# A list of mt grades 
my_grades = ['B' , 'C' , 'B' , 'D']

# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
#my_grades

# Change the grades by one letter grade.
my_grades.map({'B':'A' , 'C':'B' , 'D':'C'})

In [ ]:
# Python format() Function 
# NOTE: The Python format() function is used to format a value to a specific format, 
# such as one or two decimal places, or adding a thousands separator.
# NOTE: "{value:format specification}".format(value)
# The "value" within the curly braces represents the value that we want to format. 
# Usually, the value in the format(value) is a variable. 
# After the colon, the format specification will designate how the value should be formatted.

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

# NOTE:Iterate through the grades.
# NOTE:Pass the grade variable inside the format() function.
# NOTE:Specify the format for the grade variable we would like by using {:.0f}.
# NOTE: After the colon, the .0f means to format the grade with no decimal place, 
# where the "period" is for the decimal place, the "0" is for "no" decimal place, 
# and the "f" means floating-point decimal.

In [ ]:
import pandas as pd

file_to_load = 'Resources/missing_grades.csv'

# Read the CSV into a dataframe 
missing_grades_df = pd.read_csv(file_to_load)
missing_grades_df.fillna(85)