In [3]:
import pandas as pd 

student_data_to_load = 'Resources/students_complete.csv'

student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head()

student_names = student_data_df['student_name']

student_names

students_to_fix = []
prefixes = []
suffixes = []
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
#ex = 'Dr. Linda Santiago'

for name in student_names: 
   if len (name.split()) >= 3:
    students_to_fix.append(name)

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')

    
#combine the data into a single dataset



#ex.replace('Dr. ', '')

C:\Users\Camer\AppData\Local\Temp\ipykernel_7400\3346358026.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')

In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)
 # A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
import pandas as pd

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [30]:
import pandas as pd

# Files to load 
school_data_to_load = 'Resources/schools_complete.csv'
student_data_to_load = 'Resources/students_complete.csv'

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

#school_data_df
#student_data_df
# Merging the two CSV files together (using a new variable name). At least 1 header has to be the same name in each CSV to merge. 
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ['school_name' , 'school_name'])
school_data_complete_df.head()

#Counting the number of students in the new dataframe 
student_count = school_data_complete_df.count()
# student_count

# #counting the number of 'Studnet ID' in the new merged file.
# school_data_complete_df["Student ID"].count()

# # Getting the total number of schools.
# school_count = school_data_df['school_name'].count()
# school_count

# #if we want to get the count of the school names from the school_data_complete we have to first get the unique() identifiers.
# #This out puts an 'ndarray' or 'n-dimensional array' of all unique values for the given column name.
# school_count_2 = school_data_complete_df = school_data_complete_df['school_name'].unique()
# # school_count_2

# # total_budget = school_data_df['budget'].sum()
# # total_budget

#school_data_complete_df['reading_score'].mean()

#passing_math = school_data_complete_df['math_score'] >= 70

#passing_reading = school_data_complete_df['reading_score'] >= 70

#Passing out school data complete to a new Data Frame to get just the students who passed math 
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_math.head()

passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
passing_reading

passing_math_count = passing_math['student_name'].count()
passing_math_count

passing_reading_count = passing_reading['student_name'].count()
passing_reading_count

percent_pass_math = passing_math_count / student_count * 100
percent_pass_math

passing_reading_percentage = passing_reading_count / student_count * 100
passing_reading_percentage

# Calculating overall passing percent for both math and reading and passing it to a new Data Frame 
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)] 
passing_math_reading.head()

overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

Student ID       65.172326
student_name     65.172326
gender           65.172326
grade            65.172326
school_name      65.172326
reading_score    65.172326
math_score       65.172326
School ID        65.172326
type             65.172326
size             65.172326
budget           65.172326
dtype: float64

In [ ]:
import pandas as pd

file_to_load = 'Resources/missing_grades.csv'

# Read the CSV into a dataframe 
missing_grades_df = pd.read_csv(file_to_load)
missing_grades_df.fillna(85)