In [11]:
import pandas as pd 

student_data_to_load = 'Resources/students_complete.csv'

student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head()

student_names = student_data_df['student_name']

student_names

students_to_fix = []
prefixes = []
suffixes = []
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
#ex = 'Dr. Linda Santiago'

for name in student_names: 
   if len (name.split()) >= 3:
    students_to_fix.append(name)

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')

    
#combine the data into a single dataset



#ex.replace('Dr. ', '')

C:\Users\Camer\AppData\Local\Temp\ipykernel_26240\3346358026.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')

In [12]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)
 # A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [13]:
import pandas as pd

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [14]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [75]:
import pandas as pd

# Files to load 
school_data_to_load = 'Resources/schools_complete.csv'
student_data_to_load = 'Resources/students_complete.csv'

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

#school_data_df
#student_data_df
# Merging the two CSV files together (using a new variable name). At least 1 header has to be the same name in each CSV to merge. 
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ['school_name' , 'school_name'])
school_data_complete_df.head()

#Counting the number of students in the new dataframe 
student_count = school_data_complete_df['Student ID'].count()
# student_count

# #counting the number of 'Studnet ID' in the new merged file.
# school_data_complete_df["Student ID"].count()

# # Getting the total number of schools.
school_count = school_data_df['school_name'].count()
# school_count

# #if we want to get the count of the school names from the school_data_complete we have to first get the unique() identifiers.
# #This out puts an 'ndarray' or 'n-dimensional array' of all unique values for the given column name.
# school_count_2 = school_data_complete_df = school_data_complete_df['school_name'].unique()
# # school_count_2

total_budget = school_data_df['budget'].sum()
# # total_budget

average_reading_score = school_data_complete_df['reading_score'].mean()

average_math_score = school_data_complete_df['math_score'].mean()

passing_math = school_data_complete_df['math_score'] >= 70

passing_reading = school_data_complete_df['reading_score'] >= 70

#Passing out school data complete to a new Data Frame to get just the students who passed math 
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_math.head()

passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
passing_reading

passing_math_count = passing_math['student_name'].count()
passing_math_count

passing_reading_count = passing_reading['student_name'].count()
passing_reading_count

percent_pass_math = passing_math_count / student_count * 100
percent_pass_math

passing_reading_percentage = passing_reading_count / student_count * 100
passing_reading_percentage

# Calculating overall passing percent for both math and reading and passing it to a new Data Frame 
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)] 
passing_math_reading.head()

overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": percent_pass_math,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

# The "Average Reading Score" column will be formatted to one decimal place.
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map('{:.1f}'.format)
district_summary_df['Average Reading Score']
#The "Average Math Score" column will be formatted to one decimal place.
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map('{:.1f}'.format)
district_summary_df['Average Math Score']

#The "% Passing Reading" column will be formatted to the nearest whole number percentage.
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map('{:.0f}'.format)
district_summary_df['% Passing Reading']

# The "% Passing Math" column will be formatted to the nearest whole number percentage
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map('{:.0f}'.format)
district_summary_df['% Passing Math']

#The "% Overall Passing" column will be formatted to the nearest whole number percentage.
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df["% Overall Passing"]

district_summary_df
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

# def passing_math_percent(passing_math_count , student_count):
#     return passing_math_count / student_count * 100

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [84]:
# the index needs to be the school_name with "School Type" as the first column. 
# We can use the data from the school_data_df DataFrame because the "school_name" and "type" columns are both Series

# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_budget = school_data_df.set_index(["school_name"])["budget"]

per_school_capita = per_school_budget / per_school_counts
per_school_capita

# Calculate the average math scores.
# Calculate the average reading scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Reorder the columns in the order you want them to appear.
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]


# Display the data frame
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [85]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [87]:
# Sort and show bottom five schools.
bottom_schools = per_school_summary_df.sort_values(['% Overall Passing'],ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [ ]:
# The Pandas map() Function 
# NOTE: The map() function is used for substituting each value in a Series with another value. Where the new value is generated from a function, a dictionary, or a Series.

import pandas as pd 

# A list of mt grades 
my_grades = ['B' , 'C' , 'B' , 'D']

# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
#my_grades

# Change the grades by one letter grade.
my_grades.map({'B':'A' , 'C':'B' , 'D':'C'})

In [ ]:
# Python format() Function 
# NOTE: The Python format() function is used to format a value to a specific format, 
# such as one or two decimal places, or adding a thousands separator.
# NOTE: "{value:format specification}".format(value)
# The "value" within the curly braces represents the value that we want to format. 
# Usually, the value in the format(value) is a variable. 
# After the colon, the format specification will designate how the value should be formatted.

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

# NOTE:Iterate through the grades.
# NOTE:Pass the grade variable inside the format() function.
# NOTE:Specify the format for the grade variable we would like by using {:.0f}.
# NOTE: After the colon, the .0f means to format the grade with no decimal place, 
# where the "period" is for the decimal place, the "0" is for "no" decimal place, 
# and the "f" means floating-point decimal.

In [ ]:
import pandas as pd

file_to_load = 'Resources/missing_grades.csv'

# Read the CSV into a dataframe 
missing_grades_df = pd.read_csv(file_to_load)
missing_grades_df.fillna(85)